/*
    Author: Mustafa Batuhan TUNA    
    Date: 04/13/2023
*/
form {
  background-color: #D6CBC0;
  border-radius: 2em;
  padding: 2em 3em 3em 3em;
}

input,
select,
textarea {
  margin-top: 10px;
  margin-bottom: 2em;
}

input[type="radio"] {
  display: inline-block;
}

textarea {
  width: 86%;
  height: 360px;
  border-radius: 15px;
  border: 2px solid #A87B50;
  padding: 2em 2em 2em 2em;
}

input[type="submit"],
input[type="reset"] {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #A87B50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #D6CBC0;
  color: #A87B50;
  text-align: center;
}

#buttonContainer {
  text-align: center;
}